<div class="calenderDiv" id="calenderDiv" calenderJson=${pageProperties.calenderJson}>

	<h1 class="text-center">Calender</h1>


    <div class="mobile-header z-depth-1 hideElement">

      <div class="row">
        <div class="col-2">
          <a href="#" data-activates="sidebar" class="button-collapse" style="">
            <i class="material-icons">menu</i>
          </a>
        </div>
        <div class="col">
          <h4>Events</h4>
        </div>
      </div>

    </div>

    <div class="main-wrapper">

      <div class="sidebar-wrapper z-depth-2 side-nav fixed hideElement" id="sidebar">

        <div class="sidebar-title">
          <h4>Events</h4>
          <h5 id="eventDayName">Date</h5>
        </div>
        <div class="sidebar-events" id="sidebarEvents">
          <div class="empty-message">Sorry, no events to selected date</div>
        </div>

      </div>

      <div class="content-wrapper grey lighten-3">
        <div class="container">

          <div class="calendar-wrapper z-depth-2">

            <div class="header-background">
              <div class="calendar-header">

                <a class="prev-button" id="prev">
                  <i class="fa-solid fa-chevron-left"></i>
                </a>
                <a class="next-button" id="next">
                  <i class="fa-solid fa-chevron-right"></i>
                </a>

                <div class="row header-title">

                  <div class="header-text">
                    <h3 id="month-name">February</h3>
                    <h5 id="todayDayName">Today is Friday 7 Feb</h5>
                  </div>

                </div>
              </div>
            </div>

            <div class="calendar-content">
              <div id="calendar-table" class="calendar-cells">

                <div id="table-header">
                  <div class="row">
                    <div class="col">Mon</div>
                    <div class="col">Tue</div>
                    <div class="col">Wed</div>
                    <div class="col">Thu</div>
                    <div class="col">Fri</div>
                    <div class="col">Sat</div>
                    <div class="col">Sun</div>
                  </div>
                </div>

                <div id="table-body" class="">

                </div>

              </div>
            </div>

            <div class="calendar-footer hideElement ">
              <div class="emptyForm" id="emptyForm">
                <h4 id="emptyFormTitle">No events now</h4>
                <a class="addEvent" id="changeFormButton">Add new</a>
              </div>
              <div class="addForm" id="addForm">
                <h4>Add new event</h4>

                <div class="row">
                  <div class="input-field col s6">
                    <input id="eventTitleInput" type="text" class="validate">
                    <label for="eventTitleInput">Title</label>
                  </div>
                  <div class="input-field col s6">
                    <input id="eventDescInput" type="text" class="validate">
                    <label for="eventDescInput">Description</label>
                  </div>
                </div>

                <div class="addEventButtons">
                  <a class="waves-effect waves-light btn blue lighten-2" id="addEventButton">Add</a>
                  <a class="waves-effect waves-light btn grey lighten-2" id="cancelAdd">Cancel</a>
                </div>

              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

</div> 


  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='tushar-dynamic-calender'}"/>

<div class="mobile-calender">

	<h3 id="mobileCalenderLabel">Mobile Calender</h3>
    <div class="container">
      <div class="row row-cols-1" id="parentOfRows">
        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">9 March</span><span class="stacked-spans day-span-mob">Sunday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>
        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">10 March</span><span class="stacked-spans day-span-mob">Monday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">11 March</span><span class="stacked-spans day-span-mob">Tuesday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">12 March</span><span class="stacked-spans day-span-mob">Wednesday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">13 March</span><span class="stacked-spans day-span-mob">Thursday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">14 March</span><span class="stacked-spans day-span-mob">Friday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

        <div class="col">  
			<div class="row row-cols-2">
                 <div class="col"><span class="stacked-spans date-span-mob">15 March</span><span class="stacked-spans day-span-mob">Saturday</span></div>
                 <div class="col"><span class="stacked-spans">Event 1</span><span class="stacked-spans">Event 2</span></div>
            </div>
		</div>

      </div>
    </div>

	<div class="container">
	    <div class="row row-cols-3">
              <button class="col" id="prev-week">Prev Week</button>
			  <button class="col" id="curr-week">Curr Week</button>
              <button class="col" id="next-week">Next Week</button>

    	</div>
    </div>


</div>