
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientLib.all @ categories='sightly-multifield'}" />














<div class="parent-div-tab" style="width:100%">


  <div>
    <div>
		<h3>${properties.title @context="html"}</h3><div class="hi">
			</div>
	</div>
  </div>


  <div>
    <div>
		<h3></h3><div class="hi" style="background: #f3f3f3;">
			<p>${properties.description @context="html"}</p></div>
	</div>
  </div>

	<!--Tabs -->



<div class="tab">
  <button id="first_button_id" class="tablinks first-button-link" onclick="openCity(event, 'London')"><b>Sightly Syntax<b></h3></button>
  <button class="tablinks" onclick="openCity(event, 'Paris')"><b>Processed HTML Markup</b></button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')"><b>Actual Rendered Output</b></button>
</div>

<div id="London" class="tabcontent">

  <div data-sly-test="${properties.sightlySyntax}">
    <div>
		<div class="code-output"><div>
				${properties.sightlySyntax @context="html"}
			 </div>
		</div>
	</div>
  </div>

</div>

<div id="Paris" class="tabcontent">
    <div data-sly-test="${properties.processedHTML}">
    <div>
		<div class="code-output"><div>
				${properties.processedHTML @context="html"}
			 </div>
		</div>
	</div>
  </div> 
</div>

<div id="Tokyo" class="tabcontent">
  <div data-sly-test="${properties.renderedOutput}" >
    <div>
		<div class="code-output">
			<p>${properties.renderedOutput @context="html"}</p></div>
	</div>
  </div>
</div>
</div>





</div>



