

<h4 class="text-center"><i class="fa fa-share-alt" aria-hidden="true"></i>
 Share this Page <i class="fa fa-share-alt" aria-hidden="true"></i>
</h4>
<div class="shareArticle">
  <div class="shareSocial">
    <h3 class="socialTitle"></h3>
    <ul class="socialList">
      <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
      <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
      <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>

      <li><a href=""><i class="fa-regular fa-copy"></i> <input class="textLink" id="text" type="text" name="shortlink" value="${currentPage.path @ domain='http://localhost:4502/'}" id="copy-link" readonly="">
      <span class="copyLink" id="copy" tooltip="Copy to clipboard">
        <i class="fa-regular fa-copy"></i>
      </span></a></li>

    </ul>
  </div>
  <div class="shareLink" style="display:none">
    <div class="permalink">
      <input class="textLink" id="text" type="text" name="shortlink" value="${currentPage.path @ domain='http://localhost:4502/'}" id="copy-link" readonly="">
      <span class="copyLink" id="copy" tooltip="Copy to clipboard">
        <i class="fa-regular fa-copy"></i>
      </span>
    </div>
  </div>
</div>



  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='tushar-social-share'}"/>
