
<div class="cmp-helloworld" data-cmp-is="helloworld">
    <h2 class="cmp-helloworld__title">Sightly Snippets</h2>
    <div class="cmp-helloworld__item" data-sly-test="${properties.text}">
        <p class="cmp-helloworld__item-label">Text property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="property">${properties.text}</pre>
    </div>

<sly data-sly-test="${properties.listFrom == 'expressionlanguage'}">
    <div data-sly-include="${'expressionlanguage.html' @ context='unsafe'}"></div>
</sly>


<sly data-sly-test="${properties.listFrom == 'blockstatements'}">
    <div data-sly-include="${'blockstatements.html' @ context='unsafe'}"></div>
</sly>

</div>
