<coral-list>
  <coral-list-item icon="news" id="filenameelement"><b>File Name</b></coral-list-item>
</coral-list>

    <div class="txt-editor">
      <input style="display:none" type="text" id="filePath2" placeholder="Enter file path" />
      <button style="display:none" id="processBtn2">Process</button>
      <textarea id="txtContent" rows="20" cols="80"></textarea>
      <button style="display:none" id="cancelBtn">Cancel</button>
      <button style="display:none" id="resetBtn2">Reset</button>
  </div>
  <div id="editor-alert-placeholder"></div>
  <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='tushar-text-editor'}"/>
