



<div  class="container">
   <div id="sandbox" class="row">
   <div class="sideb col">
      <h2 class="theme-color">Search</h2>
      <p class="text-large theme-color"></p>
      <input class="search" placeholder="Search" />
      <div class="mobFilter"><i class="fas fa-sliders-h"></i></div>
      <div class="porpSection">
         <button class="xbutton">X</button>
         <div class="sortSection">
            <h3>Sort By:</h3>
            <select id="sort-by-dropdown" class="jobtypefilter selectlist">
               <option selected="selected" value="">Defaullt</option>
               <option  value="title">Page Title</option>
               <option value="releaseDate">Release Date</option>
            </select>
         </div>
         <div class="filterSection">
            <h3>Filter Languages</h3>
            <li>
               <label  style="word-wrap:break-word">
               <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="English" filterFacet="language" />English
               </label>
            </li>
            <li>
               <label  style="word-wrap:break-word">
               <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Hindi" filterFacet="language" />Hindi
               </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Marathi" filterFacet="language" />Marathi
            </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Kannada" filterFacet="language" />Kannada
            </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Bengali" filterFacet="language" />Bengali
            </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Telugu" filterFacet="language" />Telugu
            </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Tamil" filterFacet="language" />Tamil
            </label>
            </li>
            <li>
            <label  style="word-wrap:break-word">
            <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Malayalam" filterFacet="language" />Malayalam
            </label>
            </li>                                                
            <h3>Filter Page Types</h3>
            <li>
               <label  style="word-wrap:break-word">
               <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Movie" filterFacet="pageType" />Movie
               </label>
            </li>
            <li>
               <label  style="word-wrap:break-word">
               <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Song" filterFacet="pageType" />Song
               </label>
            </li>
            <div class="filter">
               <h3>Filter Generes</h3>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Action" filterFacet="genere" />Action
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Adventure" filterFacet="genere" />Adventure
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Horror" filterFacet="genere" />Horror
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Romance" filterFacet="genere" />Romance
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="War" filterFacet="genere" />War
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="History" filterFacet="genere" />History
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Sci-Fi" filterFacet="genere" />Sci-Fi
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Sport" filterFacet="genere" />Sport
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Drama" filterFacet="genere" />Drama
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Thriller" filterFacet="genere" />Thriller
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Music" filterFacet="genere" />Music
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Crime" filterFacet="genere" />Crime
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Biography" filterFacet="genere" />Biography
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Fantasy" filterFacet="genere" />Fantasy
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Family" filterFacet="genere" />Family
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Animation" filterFacet="genere" />Animation
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Comedy" filterFacet="genere" />Comedy
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Mystery" filterFacet="genere" />Mystery
                  </label>
               </li>
               <li>
                  <label  style="word-wrap:break-word">
                  <input  class="checkboxes" type="checkbox" id="myCheckbox" filtervalue="Musical" filterFacet="genere" />Musical
                  </label>
               </li>
            </div>
            <div class="filter">
            </div>
         </div>
      </div>
   </div>

      <div class="listb col">
        <div class="list row text-center" id="list">
        </div>
        <div class="lpagignate"><span class="jPaginateBack page-arrow"><</span>
          <ul class="pagination"></ul><span class="jPaginateNext page-arrow">></span></div>
      </div>



   </div>
</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
   data-sly-call="${clientlib.all @ categories='tushar-search-utility'}"/>