<span>${currentNode.path}</span>

<ul data-sly-list.nodes1="${currentNode.parent.parent.parent.parent.parent.parent.parent.nodes}">
  <dev data-sly-test.nodeName="${nodes1.path}" data-sly-test="${nodeName == '/content/tushar'}">
    <li>1: ${nodes1.name}</li>
    <ul data-sly-list.nodes2="${nodes1.nodes}">
      
        <li>2: ${nodes2.name}</li>
        <ul data-sly-list.nodes3="${nodes2.nodes}">
          <li>3: ${nodes3.name}</li>
          <ul data-sly-list.nodes4="${nodes3.nodes}">
            <li>4: ${nodes4.name}</li>
            <ul data-sly-list.nodes5="${nodes4.nodes}">
              <li>5: ${nodes5.name}</li>
              <ul data-sly-list.nodes6="${nodes5.nodes}">
                <li>6: ${nodes6.name}</li>
                <ul data-sly-list.nodes7="${nodes6.nodes}">
                  <li>7: ${nodes7.name}</li>
                  <ul data-sly-list.nodes8="${nodes7.nodes}">
                    <li>8: ${nodes8.name}</li>
                    <ul data-sly-list.nodes9="${nodes8.nodes}">
                      <li>9: ${nodes9.name}</li>
                      <ul data-sly-list.nodes10="${nodes9.nodes}">
                        <li>10: ${nodes10.name}</li>
                        <ul data-sly-list.nodes11="${nodes10.nodes}">
                          <li>11: ${nodes11.name}</li>
                          <ul data-sly-list.nodes12="${nodes11.nodes}">
                            <li>12: ${nodes12.name}</li>
                            <ul data-sly-list.nodes13="${nodes12.nodes}">
                              <li>13: ${nodes13.name}</li>
                            </ul>
                          </ul>
                        </ul>
                      </ul>
                    </ul>
                  </ul>
                </ul>
              </ul>
            </ul>
          </ul>
        </ul>
      
    </ul>
  </dev>
</ul>


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" 
    data-sly-call="${clientlib.all @ categories='tushar-json-tree'}"/>
