<sly data-sly-use.clientlib="core/wcm/components/commons/v1/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='tushar.fa', async=true}"/>
</sly>



<i class="fas fa-camera"></i> <!-- Example camera icon -->
<i class="fas fa-stroopwafel"></i>




<p data-sly-use.logic="logic.js">
    <a href="${logic.link}" title="${logic.title}">
        ${logic.text}
    </a>
</p>


<div data-sly-use.logic="logic-with-parameter.js" data-json="${logic.json}">...</div>
<script>
var elements = document.querySelectorAll("[data-json]");
for (var i = 0; i < elements.length; i++) {
    var obj = JSON.parse(elements[i].dataset.json);
    //console.log(obj);
}
</script>